<div class="container">
  <h1>ToDo List</h1>

  <div class="">
    <input [(ngModel)]="newTodoTitle" placeholder="Add a new task" class="form-control" />
    <button (click)="addTodo()" class="">Add</button>
  </div>

  @if (loading) {
  <p>Loading...</p>
  } @if (errorMessage) {
  <p class="text-red-500">{{ errorMessage }}</p>
  }

  <ul class="">
    @for (todo of todos; track todo.id) {
    <li class="flex gap-4">
      <div>
        <pre class="text-sm">{{ todo | json }}</pre>
        <input type="checkbox" (change)="toggleComplete(todo)" [checked]="todo.isComplete" />
        <span class="">{{ todo.name }}</span>
      </div>
      <button (click)="deleteTodo(todo.id)" class="btn btn-danger btn-sm">Delete</button>
    </li>
    }
  </ul>
</div>
